.header {
  /* background: #0D0D0D; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: relative;
  padding-top: 60px;
}

.newTaskForm {
  position: absolute;
  height: 54px;
  bottom: -27px;
  width: 100%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}

.inputTitle {
  height: 70%;
  width: 87%;
  flex: 1;
  color: rgb(255, 255, 255);
  border: 1.5px solid rgb(72, 216, 241);
  max-width: 736px;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 14px;
  background: #88e7f8;
}

.inputDescription {
  position: absolute;
  border: 1px solid rgb(72, 216, 241);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  bottom: -25px;
  width: 64.5%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 1rem;
  height: 20%;
  font-size: 14px;
  background: #88e7f8;
  /* width: 44.5%; */
}

.newTaskForm input::placeholder {
  color: rgb(2, 78, 92);
}

.addButton {
  height: 70%;
  padding: 0 10px;
  background: rgb(0, 170, 255);
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

.error {
  position: absolute;
  bottom: -50px;
  color: rgb(250, 9, 1);
  font-size: 14px;
  background: none;
  text-transform: uppercase;
  text-decoration: solid;
}

.inputError {
  border: 3px solid rgb(0, 170, 255) !important;
}

.deleteAllTasks {
  height: 70%;
  padding: 0 10px;
  background: rgb(241, 2, 2);
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

.todoApp {
  display: flex;
  position: absolute;
  flex-direction: column;
  background: linear-gradient(to right, #04cff3, #88e7f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 180px;
  gap: 10px;
  padding: 30px;
}

.completeAllTasks {
  height: 70%;
  padding: 0 10px;
  background: #ff00ff;
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}
